body{
    background-color:lightcyan
 }
img {
    width: 100%;
    height: auto;
}
@media (min-width: 768px) {
    p {
        margin-left: 200px;
        margin-right: 200px;
    }
}

@media (min-width: 1024px) {
    p {
        margin-left: 300px;
        margin-right: 300px;
    }
}
